<!-------------- About---------------------->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>About Us</h2>
        <div class="about-content">
          Drinking vinegar glossier man bun, readymade jianbing viral af farm-to-table chia asymmetrical knausgaard wayfarers gochujang flexitarian everyday carry. Keffiyeh lo-fi mumblecore distillery health goth etsy, you probably haven't heard of them wayfarers. Pok pok viral everyday carry edison bulb quinoa crucifix. Drinking vinegar swag activated charcoal umami etsy. Single-origin coffee before they sold out leggings echo park, blue bottle bitters kombucha keytar put a bird on it vape. Migas umami knausgaard vice keffiyeh pork belly master cleanse meditation farm-to-table normcore pug fixie street art hot chicken. Sartorial gentrify kitsch air plant, deep v letterpress fam cliche.
        </div>
        <button type="button" class="btn btn-primary">Read more >></button>
      </div>
      <div id="ppp">
      <div class="col-md-6- skills-bar">
          <p>Assistance</p>
          <div class="progress">
          <div class="progress-bar" style="width:80%;">80%</div>
          </div>
          <p>Market Rate</p>
          <div class="progress">
            <div class="progress-bar" style="width:100%;">100%</div>
      </div>
      <p>Reputation</p>
      <div class="progress">
        <div class="progress-bar" style="width: 99%;">99%</div>
    </div> 
     
  </div>
</div>
  
</section>