<!---------------Get in Touch--------------->


<section id="contact">
  <div class="container">
      <h1>Get In Touch</h1>
      <div class="row">
        <div class="col-md-6">
          <form class="contact-form">
            <div class="form-group">
              <input type="text"  class="form-control" placeholder="Your name" >
              
            </div>
            <div class="form-group">
              <input type="number"  class="form-control" placeholder="Your Phone number" >
              
            </div>
            <div class="form-group">
              <input type="email"  class="form-control" placeholder="Your Email id" >
              
            </div>
            <div class="form-group">
              <textarea  class="form-control" rows="4" placeholder="Your Message">
                </textarea> 
              
            </div>
            <button type="submit" class="btn btn-primary"> Send Message</button>
          </form>
          
        </div>
        <div class="col-md-6 contact-info">
          <div class="follow"> <b>Address:</b><i class="fa fa-map-marker"></i> XYZ Road, Accra, GH
            
          </div>

          <div class="follow"> <b>Phone:</b><i class="fa fa-phone"></i> XYZ Road, Accra GH
            
          </div>
          

          <div class="follow"> <b>Email:</b><i class="fa fa-envelope-o"></i>group.geenyland.inc@geenyland.com
            
          </div>

          <div class="follow"> <label><b>Social:</b></label>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            
          </div>
          
          
          
        </div>
      </div>
  </div>
  
</section>