<!----------------promo---------------------------->

<section id="promo">
  <div class="container">
       <p>Get free Coaching and Assistance</p>
       <a href="#" class="btn btn-primary">Contact Us</a>
  </div>
  
</section>