<!-----------Services-------------------->

<section id="services">
  <div class="container">
    <h1>Services</h1>
    <div class="row services">
      <div class="col-md-3 text-center">
        <div class="icon">
         
         <i class="fa fa-eye"></i>
        </div>
        <h3>Web Development</h3>
        <p>Lorem ipsum dolor amet tumeric quinoa semiotics man braid, keytar whatever taxidermy 90's blue bottle selvage paleo stumptown pickled activaYOLO keytar literally blog pitchfork. PBR&B godard vexillologist pinterest. Keytar drinking vinegar shoreditch hashtag, semiotics viral tilde portland af vinyl la croix.</p>
      </div>
      <div class="col-md-3 text-center">
        <div class="icon">
         
         <i class="fa fa-tablet"></i>
        </div>
        <h3>Web Development</h3>
        <p>Lorem ipsum dolor amet tumeric quinoa semiotics man braid, keytar whatever taxidermy 90's blue bottle selvage paleo stumptown pickled activaYOLO keytar literally blog pitchfork. PBR&B godard vexillologist pinterest. Keytar drinking vinegar shoreditch hashtag, semiotics viral tilde portland af vinyl la croix.</p>
      </div>
      <div class="col-md-3 text-center">
        <div class="icon">
         
         <i class="fa fa-line-chart"></i>
        </div>
        <h3>Web Development</h3>
        <p>Lorem ipsum dolor amet tumeric quinoa semiotics man braid, keytar whatever taxidermy 90's blue bottle selvage paleo stumptown pickled activaYOLO keytar literally blog pitchfork. PBR&B godard vexillologist pinterest. Keytar drinking vinegar shoreditch hashtag, semiotics viral tilde portland af vinyl la croix.</p>
      </div>
      
    </div>
  </div>
</section>