<!----------------- Latest Post-------------->
<section id="team">
  <div class="container">
    <h1>Latest Post</h1>
    <div class="row">
     <div class="col-md-3 profile-pic text-center">
       <div class="img-box">
         <img src="assets/logo.png" class="img-responsive">
         <ul>
           <a href="#"><li><i class="fa fa-facebook"></i></li></a>
           <a href="#"><li><i class="fa fa-telegram"></i></li></a>
           <a href="#"><li><i class="fa fa-instagram"></i></li></a>
         </ul>
       </div>
            <h2>Post Title</h2>
            <h3>Date</h3>
            <p>sum dolor amet tumeric quinoa semiotics man braid, keytar whatever taxidermy 90's blue bottle selvage paleo stumptow</p>
     </div>
      
      <div class="col-md-3 profile-pic text-center">
        <div class="img-box">
          <img src="assets/logo.png" class="img-responsive">
          <ul>
            <a href="#"><li><i class="fa fa-facebook"></i></li></a>
            <a href="#"><li><i class="fa fa-telegram"></i></li></a>
            <a href="#"><li><i class="fa fa-instagram"></i></li></a>
          </ul>
        </div>
             <h2>Post Title</h2>
             <h3>Date</h3>
             <p>sum dolor amet tumeric quinoa semiotics man braid, keytar whatever taxidermy 90's blue bottle selvage paleo stumptow</p>
      </div>

      <div class="col-md-3 profile-pic text-center">
        <div class="img-box">
          <img src="assets/logo.png" class="img-responsive">
          <ul>
            <a href="#"><li><i class="fa fa-facebook"></i></li></a>
            <a href="#"><li><i class="fa fa-telegram"></i></li></a>
            <a href="#"><li><i class="fa fa-instagram"></i></li></a>
          </ul>
        </div>
             <h2>Post Title</h2>
             <h3>Date</h3>
             <p>sum dolor amet tumeric quinoa semiotics man braid, keytar whatever taxidermy 90's blue bottle selvage paleo stumptow</p>
      </div>
      <div class="col-md-3 profile-pic text-center">
        <div class="img-box">
          <img src="assets/logo.png" class="img-responsive">
          <ul>
            <a href="#"><li><i class="fa fa-facebook"></i></li></a>
            <a href="#"><li><i class="fa fa-telegram"></i></li></a>
            <a href="#"><li><i class="fa fa-instagram"></i></li></a>
          </ul>
        </div>
             <h2>Post Title</h2>
             <h3>Date</h3>
             <p>sum dolor amet tumeric quinoa semiotics man braid, keytar whatever taxidermy 90's blue bottle selvage paleo stumptow</p>
      </div>
    </div>
  </div>
</section>