<!--------------------Testimonials-------------------------->

<section id="testimonials">
  <div class="container">
    <h1>Testimonials</h1>
    <p class="text-center">dolor amet tumeric quinoa semiotics man braid, keytar whatever taxidermy 90's blue bottle</p>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="profile">
          <img src="assets/testimonials.png" class="user">
          <blockquote>lor amet tumeric quinoa semiotics man braid, keytar whatever taxidermy 90's blue bottle selvage paleo stumptown pickled activaYOLO keytar literally blog pitchfork. PBR&B godard vexillologist pinterest.</blockquote>
          <h3>John Snow <span></span></h3>

          
        </div>
        
      </div>
      <div class="col-md-4 text-center">
        <div class="profile">
          <img src="assets/testimonials.png" class="user">
          <blockquote>lor amet tumeric quinoa semiotics man braid, keytar whatever taxidermy 90's blue bottle selvage paleo stumptown pickled activaYOLO keytar literally blog pitchfork. PBR&B godard vexillologist pinterest.</blockquote>
          <h3>John Snow <span></span></h3>

          
        </div>
        
      </div>
      <div class="col-md-4 text-center">
        <div class="profile">
          <img src="assets/testimonials.png" class="user">
          <blockquote>lor amet tumeric quinoa semiotics man braid, keytar whatever taxidermy 90's blue bottle selvage paleo stumptown pickled activaYOLO keytar literally blog pitchfork. PBR&B godard vexillologist pinterest.</blockquote>
          <h3>John Snow <span></span></h3>

          
        </div>
        
      </div>
    </div>
  </div>
</section>
