<!-----------------Footer------------------->


<section id="footer">
  <div class="container text-center">
    <p>&copy;Copyright 2019 @GennyLand</p>
    
  </div>
  

</section>
<!------------------Footer End-------------------->
